#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.wrapper {
  padding: 0.925rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  container-type: inline-size;
}

.wrapper .layout :is(main, aside) {
  min-height: 100px;
}

.wrapper .layout .container {
  container-type: inline-size;
}

@container (min-width: 900px) {
  .layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
  }
}

@container (max-width: 36rem) {
  .card .image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

@container (min-width: 36rem) {
  .card {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .card .image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
